@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: radial-gradient(circle, #a50078, #b22389, #be389b, #cb4bad, #d75cbf, #e55bbb, #f25bb6, #ff5bb1, #ff4e8f, #ff4b6a, #ff5443, #fa640e);
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;

}

.flower {
  animation: spin 90s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}